# Bot Token
DISCORD_TOKEN = your_token_here
# Bot User ID
CLIENT_ID = your_client_id_here

# Server ID
GUILD_ID = your_guild_id_here

# Minecraft Announcement Channel
MINECRAFT_CHANNEL_ID = your_channel_id_here

# Phasmophobia Announcement Channel
PHASMO_CHANNEL_ID = your_channel_id_here

# Minecraft Server Announcer's User ID
MINECRAFT_ANNOUNCER_ID = you_announcer_id_here

# Phasmophobia Server Announcer's User ID
PHASMO_ANNOUNCER_ID = your_announcer_id_here

# Role to tag for Minecraft Announcements
ROLE_MINECRAFT_ID = your_role_id_here

# Role to tag for Phasmophobia Announcements
ROLE_PHASMO_ID = your_role_id_here